
.register-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    color: white;
    margin-bottom: 15px;
}

.form-control {
    width: 80%;
    max-width: 200px;
    padding: 8px;
    box-sizing: border-box;
}

.box{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}