ACCESS_TOKEN_SECRET=
DB_PORT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_TYPE=
NODE_ENV=
PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
MONGO_INITDB_ROOT_USERNAME=    
MONGO_INITDB_ROOT_PASSWORD=
MONGO_URI=
KEYS_DIRECTORY=
PRIVATE_KEY_PATH=
PUBLIC_KEY_PATH=
ENCRYPTION_KEY=
IV_LENGTH=